*.png
*.jpg
*.Gbx
*.zip
*.pdn
*.webm
*.ogg
Media/Manialinks/Base
Media/Translations
Media/Extensions
Media/Challenges
Scripts/EditorPlugins
Scripts/MapTypes
Scripts/Libs/BigBang1112
Scripts/Libs/Challenge