*.png
*.jpg
*.Gbx
*.zip
*.pdn
*.webm
*.ogg
*.dds
*.wav
Media/Manialinks/Base
Media/Manialinks/Sandbox
Media/Translations
Media/Extensions
Media/Challenges
Media/Relations
Scripts/EditorPlugins
Scripts/MapTypes
Scripts/Libs/BigBang1112
Scripts/Libs/Challenge